Repository radicle-dev/radicle-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,css,json,html,svelte}":
- prettier --write
"*.{ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

Add sidebar to showcase
  Showcase.svelte
  Showcase/Section.svelte
  static/global.css
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@74c7bb7c6f03ec18b7b02ace18121faf293c5e0b 🚀
  bundle.js
  bundle.js.map
  global.css
Due: prettier --write, ./scripts/license-header.ts check

Make asset paths configurable
  Emoji.svelte
  lib/config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@9aed77e8ea82dcd52f94615bcd985c4cbd6cb476 🚀
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

Convert postinstall to a prepare statement
  package.json
Due: prettier --write, ./scripts/license-header.ts check

Add missing types
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

Add appearance settings
  Showcase.svelte
  Showcase/CodeFontSetting.svelte
  Showcase/PrimaryColorSetting.svelte
  Showcase/ThemeSetting.svelte
  Showcase/UiFontSetting.svelte
  Theme.svelte
  lib/appearance.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@4e8bc8ee98fe356f2217794093bdb252368af1f3 🚀
  2473.js
  2473.js.map
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

Add button animations to sidebar
  Showcase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Make custom color popout animation less jarring
  Showcase/PrimaryColorSetting.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show icon names properly when webpack is set to production
  Showcase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@0dd8953064151ccde8c5e111e393217fec7a0ce7 🚀
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

Publish on the Radicle network
  .gitignore
Due: ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@428ab1912b70187c3303ca558970304bc59164c1 🚀
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

Add link to where it's hosted on Radicle
  README.md
Due: ./scripts/license-header.ts check

Include files in subdirectories
  package.json
Due: prettier --write, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@7937ae66a20a6a00e0d8bbbf814e36227890a1fe 🚀
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

fix: unresolvable segmented-control imports
  SegmentedControl.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: unresolvable segmented-control imports (#4)
  SegmentedControl.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@84707dd922a428862b8ea62d5580d8c3723788cf 🚀
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

fix: relative file path for twemoji assets
  Emoji.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@4175546b1291f973f43620464a47aaa2d69e151b 🚀
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

drips visual restyle wip
  Badge.svelte
  Button.svelte
  Checkbox.svelte
  Counter.svelte
  Dropdown.svelte
  Hovercard.svelte
  KeyHint.svelte
  List.svelte
  Markdown.svelte
  SegmentedControl.svelte
  Showcase/ColorSwatch.svelte
  Showcase/ElevationSwatch.svelte
  Showcase/PrimaryColorSetting.svelte
  SupportButton.svelte
  TextArea.svelte
  TextInput.svelte
  ThreeDotsMenu.svelte
  Tooltip.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

shadows
  package-lock.json
  static/elevation.css
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

fix shadows
  static/elevation.css
Due: prettier --write, ./scripts/license-header.ts check

add play icon
  Showcase.svelte
  icons/Play.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@28eabb3b9a1797d5a4f21363c90147de8eba5e2c 🚀
  8294.js
  8294.js.map
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

add question icon
  Showcase.svelte
  icons/Question.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: Play icon doesn't respect fill style prop
  icons/Play.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-design-system@a3db9781ed65d1d6fe4dcb023ae10aa13abb1333 🚀
  1036.js
  1036.js.map
  8294.js
  8294.js.map
  bundle.js
  bundle.js.map
Due: ./scripts/license-header.ts check

fix weird typo rendering on safari, ff
  static/typography.css
Due: prettier --write, ./scripts/license-header.ts check

adjust drips colors
  static/colors.css
Due: prettier --write, ./scripts/license-header.ts check

fix bold small mono text
  static/typography.css
Due: prettier --write, ./scripts/license-header.ts check

fix broken icons
  icons/Git.svelte
  icons/Trophy.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
